@import "tailwindcss";

@theme {
  --color-fire-50: #fff7ed;
  --color-fire-100: #ffedd5;
  --color-fire-200: #fed7aa;
  --color-fire-300: #fdba74;
  --color-fire-400: #fb923c;
  --color-fire-500: #f97316;
  --color-fire-600: #ea580c;
  --color-fire-700: #c2410c;
  --color-fire-800: #9a3412;
  --color-fire-900: #7c2d12;
}
